.features {
	margin: 15rem 0;
	grid-gap: 6rem;
	grid-column: 3/11;
	grid-row: 2/3;
	@media only screen and (max-width: $bp-large) {
		grid-column: 2/-1;
		grid-row: 3/4;
	}
	@media only screen and (max-width: $bp-medium) {
		grid-row: 4/5;
	}
	display: grid;
	//grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	align-items: start;
}
.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 1.5rem;
	grid-column-gap: 2.5rem;
	&_icon {
		fill: $color-primary;
		width: 4.5rem;
		height: 4.5rem;
		grid-row: 1 / span 2;
		transform: translateY(-1rem);
	}
	&_text {
		font-size: 1.7rem;
		grid-column: 2/-1;
	}
}
